{% extends 'teamInfo/base.html' %}
{% load static %}
{% block main %}
    <h1>Хобі</h1>
    <ol>
        <li class="l1"><p>розробка додатків</p></li>
        <li class="l2"><p>розробка ігор на pygame</p></li>
        <li class="l3"><p>розробка сайтів та веб-додатків</p></li>
    </ol>
    
    <style>
        li{
            font-family:cursive;
            color: white;
            font-size: 25px;
        }
        .l3{
            transform: translateX(-5%);
        }
        .l2{
            transform: translateX(5%);
        }
        .l1{
            transform: translateX(10%);
        }
        ol{
            display: block;
            margin-left: 50%;
            transform: translateX(-40%);
        }
        body{
            background-color:rgb(54, 54, 75);
        }
        p{
            color:white;
            font-family: monospace;
            font-size: 30px;
        }
        h1{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 40px;
        }
    </style>
    
{% endblock %}