{% extends 'teamInfo/base.html' %}
{% load static %}
{% block main %}
    <h1>Хобі</h1>
    
    <p>розробка додатків</p>
    <p>розробка ігор на pygame</p>
    <p>розробка сайтів та веб-додатків</p>
    
    
    <style>
        body{
            background-color:rgb(54, 54, 75);
        }
        p{
            color:white;
            font-family: monospace;
            font-size: 30px;
            text-align: center;
        }
        h1{
            text-align: center;
            color:white;
            font-family: monospace;
            font-size: 40px;
        }
    </style>
    
{% endblock %}